@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Road+Rage&display=swap');

* {
    cursor: url('../../src/cursor/Obsidian Front.cur'), auto;
}

body {
    width: 320px;
    height: 320px;
    display: flex;
    background: black;
    align-items: center;
    position: relative;
    box-shadow: inset -1px 1px 5px 0px grey, inset -1px -1px 5px 0px grey, -1px 1px 5px 0px black, -1px -1px 5px 0px black;
    font-family: 'Road Rage', cursive;

    .bg-popup {
        position: absolute;
        animation: 3s ease-in 1s infinite alternate spotlight;
        height: 320px;
    }

    .container-cadre {
        width: 200px;
        height: 250px;
        box-sizing: border-box;
        position: relative;
        background: radial-gradient(black, grey);
        margin: 0px auto;

        .cadre {
            position: absolute;
            top: -40px;
            left: -5px;
            width: 220px;
            height: 295px;
            display: block;
            filter: drop-shadow(-1px 1px 5px black) drop-shadow(-1px -1px 5px black);
            z-index: 1;
        }
    }

    .container-popup {
        position: absolute;
        top: 35px;
        left: 60px;
        padding: 10px 10px;
        width: 200px;
        height: 250px;
        box-sizing: border-box;
        color: white;
        z-index: 2;

        header {
            display: flex;
            margin: 20px auto;
            margin-left: 20px;

            img {
                display: block;
                width: 60px;
                height: 60px;
                filter: drop-shadow(-1px 1px 5px black) drop-shadow(-1px -1px 5px black);
            }

            h1 {
                font-size: 20px;
                line-height: 20px;
                width: 80px;
                margin-left: 5px;
            }
        }

        main {
            margin: 0px 20px;

            article {
                .title_article {
                    font-size: 18px;
                }

                .container-switch-btn {
                    display: flex;
                    justify-content: space-between;
                    font-size: 16px;
                    margin-top: 10px;
                    margin-bottom: 15px;
                    align-items: center;

                    p {
                        box-sizing: border-box;
                        width: 35px;

                        &.second-switch {
                            text-align: right;
                        }
                    }

                    .switch-btn-axe {
                        box-sizing: border-box;
                        width: 50px;
                        height: 8px;
                        border-radius: 4px;
                        filter: drop-shadow(-1px 1px 5px black) drop-shadow(-1px -1px 5px black);
                        background: white;
                        justify-self: center;
                        position: relative;

                        .switch-btn {
                            position: absolute;
                            top: -1px;
                            transition: all 1s ease-in 0s;

                            &.becode,
                            &.on-state {
                                left: 38px;
                            }

                            &.home,
                            &.off-state {
                                left: 38px;
                                transform: translateX(-38px);
                            }

                            .container-img-btn {
                                position: relative;

                                .img-btn {
                                    height: 12px;
                                    width: 12px;
                                    border-radius: 50%;
                                    display: block;
                                    opacity: 0.2;
                                }

                                .bg-btn {
                                    position: absolute;
                                    width: 24px;
                                    display: block;
                                    z-index: -1;
                                    top: -6px;
                                    left: -6px;
                                    background: black;
                                    border-radius: 50%;
                                    filter: drop-shadow(-1px 1px 1px black) drop-shadow(-1px -1px 1px black);
                                }
                            }

                            &:hover {
                                .container-img-btn {
                                    img {
                                        animation: 0.5s linear 0s infinite alternate nextlight;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes spotlight {
    from {
        filter: drop-shadow(0px 0px -1px cyan);
    }

    to {
        filter: drop-shadow(0px 0px 1px cyan);
    }
}

@keyframes nextlight {
    from {
        filter: drop-shadow(0px 0px 0px cyan);
    }

    to {
        filter: drop-shadow(0px 0px 5px cyan);
    }
}